<footer>
  <div class="footer">
    <div class="col1">
      <h3>SITE MAP</h3>
      <a href="#">About</a>
      <a href="#description-container">Socials </a>
      <a href="#Projects">Projects</a>
      <a href="#leaderboard-container">Leaderboard</a>
    </div>

    <div class="col2">
      <a href="{{ '/' | relative_url }}">
        <div class="nav-logo">
          <img src="./assets/img/mlh-prep.png" />
        </div>
      </a>
      <img src="./assets/img/logofinal.png" width="200" height="200" />
    </div>

    <div class="col3">
      <h3>CONTACT</h3>
      <p>Find us on social media!</p>
      <div class="social-icons">
        <a href="" class="social-icon">
          <i class="bx bxl-twitter bx-md bx-tada-hover"></i>
        </a>
        <a href="" class="social-icon">
          <i class="bx bxl-linkedin-square bx-md bx-tada-hover"></i>
        </a>
        <a href="https://github.com/MLH-Fellowship/prep-portfolio-22.NOV.PREP.2" class="social-icon">
          <i class="bx bxl-github bx-md bx-tada-hover"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
