<header class="nav-bar">
  <div class="nav-content">
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">
        <a href="{{ '/' | relative_url }}">
          <div class="nav-logo">
            <img src="./assets/img/mlh-prep.png" />
          </div>
        </a>
      </div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="”menu”" style="list-style: none">
          <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#description-container">Meet the Team</a></li>
            <li class="services">
              <a href="#project-container">Projects</a>
              <!-- DROPDOWN MENU -->
              <ul class="dropdown" style="list-style: none">
                <li><a href="#project-container">Shoping App </a></li>
                <li><a href="#project-container">Todo App</a></li>
                <li><a href="#project-container">iOS App</a></li>
              </ul>
            </li>
            <li><a href="#leaderboard-container">Find Us</a></li>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</header>
