@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Cookie&family=Dancing+Script:wght@400;700&family=Inspiration&family=Pacifico&family=Poppins:wght@100;300&family=Satisfy&family=Shadows+Into+Light&display=swap');
@import "navbar";
@import "profile";
@import "page";
@import "leaderboard";
@import "footer";
@import "carousel";
@import "dark-theme-button";
@import "blogposts";
@import "map";


html {
  scroll-behavior: smooth;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Open Sans", sans-serif;
}

// back to top
#btn-back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;

}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container,
  #blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
  table {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .card-container,
  #blog-container {
    grid-template-columns: 1fr;
  }

  .footer {
    flex-direction: column;
  }
}

body {
  background-color: var(--color-body) !important;
  margin-bottom: 50px;
  transition: background 0.8s linear;
  
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-p-text);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
  background-color: var(--color-card);
  color: var(--color-body-text);
}

a {
  color: var(--color-body-text);
}

.card:hover {
  color: var(--color-body-text);
  transition: 1s;
}
.flip-card {
  min-width: 100%;
  background-color: transparent;
  
  text-align: center;
  height: 400px;
  width: 300px;
  border: 30px solid #254169;
  
  perspective: 1000px; 


  
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
  
}
.des {
  font-size: medium;
  color: #fcfafa;
  text-align: center;
}
.btn {
background-color: #254169;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
}

.btn:hover {opacity: 1;
  color: white;}
.image {
  padding: 20px 0px 20px 0px;
  height: 100px;
  
}




.flip-card-inner {
  position: relative;
  width: 300px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
  
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


.flip-card-front {
 
  color: black;
  
  
}



.flip-card-back {
  background-color: #fff;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: rotateY(180deg);

}
.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: center;
    color: black;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location,
  .description {
    font-size: medium;
    font-weight: 400;
  }

  .dates {
    font-size: small;
    color: var(--color-info-text);
  }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}

$avatar-size: 20px;

.projects {
  a {
    text-decoration: none;
  }
  .card {
    margin: 20px 10px;
    padding: 0em 0em;
    border-radius: 12px;
    overflow: hidden;
    align-items: unset;
    height: 16rem;
  }
  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    margin: 0rem 0.1rem 0rem 0.2rem;
  }
  .desc {
    font-size: medium;
  }
  .card-img-top {
    position: absolute;
    height: 100%;
  }
  .tags {
    margin: 8px 0px;
  }
  .content {
    height: 100%;
    padding: 3rem 1rem;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.78) 80%
    );
    opacity: 0;
    transform: translateY(0);
    transition: opacity 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;
    * {
      color: white;
    }
  }
  .card:hover {
    .content {
      opacity: 1;
    }
  }
}

.tag {
  background: rgb(105, 104, 105);
  padding: 4px 10px;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 11px;
  margin-right: 6px;
  color: black;
  font-weight: 500;
}



.pod {

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Lato", sans-serif;
    background-color: #eaeaea;
  }

  .container {
    width: 100%;
    margin: 0px auto;
    padding: 3rem;
  }
  /* Float three columns side by side */
  .column {
    float: left;
    width: 25%;
    height: 15%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 700px) {
    .container {
      width: 100%;
    }

    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* Style the counter cards */
  .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }

  .profile-card .profile {
    border-radius: 10px;
    transition: 0.2s;
  }

  .profile-card:hover .profile {
    transform: scale(1.4);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .profile-card .content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .profile-card .content .back {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: #f1f1f1e6;
    background: linear-gradient(to bottom, transparent -20%, #5d5d5d 20%);
    transition: 1s;

    z-index: 1;
    padding: 10px;
  }

  .from-left {
    top: 0;
    left: -100%;
  }

  .profile-card:hover .content .from-left {
    left: 0%;
  }

  .profile-card .content .back h3 {
    font-size: 15px;
    letter-spacing: 2px;
  }

  .profile-card .content .back .tem-img {
    border-radius: 100%;
  }

  .profile-card .content .back .des {
    font-size: 13px;
    padding: 20px 0px;
  }

  .profile-card .content .back .social-icon {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .profile-card .content .back .social-icon li {
    display: inline-block;
  }

  .profile-card .content .back .social-icon li a {
    display: block;
    background: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
  }

  .fellow-name {
    margin: 1rem 0rem;
  }

  #img-container {
    height: 40vh;
  }

  #img-container img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .back {
    top: 60%;
    color: #f5f5f9;
  }
}

#preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4000;
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #133667;
  transition: all 2s ease-in-out;
}

#to-top-button {
  padding: 0.75rem;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  background-color: #133667;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  z-index: 1500;
  transition: all 250ms ease-in-out;

  &:hover,
  &:focus {
    border-radius: 8px;
    background: #133667;
    transition: all 2s ease-in-out;
  }
}

#preloader img,
#preloader h2 {
  animation: preloader 4s normal;
}

#preloader h2 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

@keyframes preloader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

// page loader

#loader{
  position:absolute; 
  top:0; left:0; 
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  z-index: 999; 
  width:100vw; 
  height:100vh; 
  background-color: black;
  animation: loader 2s infinite w;
}

.animation_text{
  font-weight: 700; 
  font-size: 2rem; 
  width: 50vw; 
  text-align: center; 
  margin-top: 20px;
}

#loader_wrapper {
  display: none;
  // text-align: center;
}
