#leaderboard-container {
  display: block;
  margin: 0px auto;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
  border-radius: 5px;
}

td,
th {
  border: 1px solid #dfdfdf;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

td {
  background-color: var(--color-card); 
  
  color: var(--color-body-text);

  a{
    color: var(--color-body-text);
  }
  
}

#table-head {
  background-color: #133667;
  color: #ffffff;
}

.table-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
