#mapCanvas{
    width: 90%;
    height: 450px;
    border: 4px solid #1d539e;
    border-radius: 35px;
    margin-left: 60px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

img[src$="#custom_marker"]{
    border: 2px solid #900 !important;
    border-radius:50%;
}