---
layout: page
title: Fellows
---

<br>
    <div class="fellow-info">
        <span class="fellow-info-key"><b>Location📍:</b></span>
        <span class="">
            {{ page.location }}
        </span>
    </div>
        <br>
        <div class="fellow-info">
            <span class="fellow-info-key"><b>University 🎓 :</b></span>
            <span class="">
                {{ page.university }}
            </span>
        </div>
        <br>
        <div class="fellow-info">
            <span class="fellow-info-key"><b>Preferred Programming Languages 🖥️ :</b></span>
            <span class="">
                {{ page.programming-languages }}
            </span>
        </div>
        <br>
            <div class="fellow-info">
                <span class="fellow-info-key"> <b>Description:</b></span>
                <span class="">
                    {{ page.description }}
                </span>
            </div>
        <br>
    </div>
</div>